<header>
  <h1>About me</h1>
  <p>Someone with a little too many hobbies...</p>
</header>
<main>
  <section>
    <h2>My programming journey</h2>
    <p>github streak:</p>
  </section>
  <section>
    <h2>Hobbies</h2>
    <article>
      <p>{{streak}}</p>
    </article>
  </section>


</main>

