<main>
<h1>Contact</h1>

<ul>
  <li>
    <a href="https://www.linkedin.com/in/isabel-arribas-384314238/">LinkedIn</a>
  </li>
  <li>
    <a href="">Gmail - iarribas01@gmail.com </a>
  </li>
  <li>
    <a href="https://github.com/bite-sized-human">Github</a>
  </li>
</ul>

</main>

