<header>
  <h1>Hi! I am Isabel Arribas. I am a web developer based in Dublin, Ireland
    working on web applications.
  </h1>
  <p>Scroll down to see my work!</p>
</header>
<main>
  <div class="bgimg"></div>
</main>