<header>
  <h1>Hi! I am Isabel Arribas.</br>I am a web developer based in Dublin, Ireland
    working on web applications.
  </h1>
  <p>Scroll down to see my work</p>
</header>
<main>
  <section>
    <h1>Project 1</h1>
    <article>
    
    <p>Lorem ipsum</p>
    </article>
  </section>
  <section>
    <h1>Project 2</h1>
    <article>
      <p>Lorem ipsum</p>
     </article>
  </section>

  
</main>