body, html {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
}

.bgimg {
  background-image: url("/images/Hapenny.jpg");
  background-color: transparent;
  height: 500px;
  width: 500px;

}

.parallax {
  position: relative;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.bigimg-1 {
  padding: 100px;
  background-image: url("/images/Hapenny.jpg");
}

.caption {
  color: red;
}